@keyframes animation {

  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }

}


.loadingBox {
  width: 100%;
  background: transparent;
  margin: 20px;
  position: relative;
  display: flex;
  place-content: center;

}

.bar {
  position: absolute;
  width: 15px;
  height: 10px;
  margin: 0 auto;
  background-color: teal;

  animation: animation 0.5s ease-in-out infinite;
}
