.detail {
  display: flex;
  padding: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
    margin-top: 50px;
  }

  &__flag {
    width: 50vw;
    height: 50vh;
    max-height: 350px;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__infoWrapper {
    flex: 1;
  }
}
