@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.App {
  font-family: "Nunito Sans", sans-serif;
}
